

<div ng-app="app-qr" ng-controller="qrController as vm">
    <button ng-click="vm.start()">Activate scanner</button>
    <p ng-hide="vm.cameraRequested && !vm.cameraIsOn">Your browser should ask for permission to use the camera.</p>
    <div>
        <bc-qr-reader
                      active="vm.cameraRequested"
                      on-result="vm.processURLfromQR"
                      on-error="onError"
                      camera-status="vm.cameraIsOn" width="200px" height="200px">
        </bc-qr-reader>
    </div>
    <p>QR code detected!</p>
    <input type="text" ng-model="vm.code" id="fname" name="fname">
    <input type="text" ng-model="vm.url" id="fname" name="fname">

    <button ng-click="vm.addQr(vm.code)">SEND QR</button>


</div>




@section Scripts{
    <script>var app = angular.module("app-qr", ['ngSanitize', 'ngAnimate', 'ngTouch', 'webcam',
            'bcQrReader']);
        //var app = angular.module("app-image-viewer", []);

        app.controller("qrController", function ($scope, $http, $timeout, $window, $filter, $location) {
            var vm = this;
            vm.processURLfromQR;
            vm.onError;
            vm.cameraIsOn;

            vm.cameraRequested = false;

            vm.start = function () {
                vm.cameraRequested = true;
            }

            vm.processURLfromQR = function (url) {
               vm.code = url;
               vm.cameraRequested = false;
            }


            vm.addQr = function (qr) {

                console.log(qr);

                var data = {};
                data.id = 0;
                data.qr = qr;

                var apiUrl = "Api/Data/AddQr";
                vm.isBusy = true;
                $http({
                    method: 'post',
                    headers: {
                        "Content-Type": "application/json",
                        
                    },
                    url: apiUrl,
                    data: qr
                })
                    .then(function (response) {

                        if (response) {

                         
                        }

                    }, function (err) {
                        console.log(err);

                        vm.errorMessage = "Failed to Add Qr";
                        vm.successMessage = null;
                    }).finally(function () {
                        vm.isBusy = false;
                    });
            }

  


        });</script>


}

